[submodule "Unknownlife"]
	path = resources/[Unknownlife]
	url = https://github.com/masterking32/mastercity-roleplay
	branch = Unknownlife
	
[submodule "esx_addonaccount"]
	path = resources/[esx]/esx_addonaccount
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_addonaccount
	
[submodule "esx_addoninventory"]
	path = resources/[esx]/esx_addoninventory
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_addoninventory
	
[submodule "esx_adminplus"]
	path = resources/[esx]/esx_adminplus
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_adminplus
	
[submodule "esx_ambulancejob"]
	path = resources/[esx]/esx_ambulancejob
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_ambulancejob
	
[submodule "esx_basicneeds"]
	path = resources/[esx]/esx_basicneeds
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_basicneeds
	
[submodule "esx_billing"]
	path = resources/[esx]/esx_billing
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_billing
	
[submodule "esx_charselect"]
	path = resources/[esx]/esx_charselect
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_charselect
	
[submodule "esx_datastore"]
	path = resources/[esx]/esx_datastore
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_datastore
	
[submodule "esx_doorlock"]
	path = resources/[esx]/esx_doorlock
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_doorlock
	
[submodule "esx_identity"]
	path = resources/[esx]/esx_identity
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_identity
	
[submodule "esx_jail"]
	path = resources/[esx]/esx_jail
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_jail
	
[submodule "esx_menu_default"]
	path = resources/[esx]/esx_menu_default
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_menu_default
	
[submodule "esx_license"]
	path = resources/[esx]/esx_license
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_license
	
[submodule "esx_menu_dialog"]
	path = resources/[esx]/esx_menu_dialog
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_menu_dialog
	
[submodule "esx_menu_list"]
	path = resources/[esx]/esx_menu_list
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_menu_list
	
[submodule "esx_service"]
	path = resources/[esx]/esx_service
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_service
	
[submodule "esx_skin"]
	path = resources/[esx]/esx_skin
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_skin
	
[submodule "esx_society"]
	path = resources/[esx]/esx_society
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_society
	
[submodule "esx_vehicleshop"]
	path = resources/[esx]/esx_vehicleshop
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_vehicleshop
	
[submodule "esx_status"]
	path = resources/[esx]/esx_status
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_status
	
[submodule "esx_voice"]
	path = resources/[esx]/esx_voice
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esx_voice
	
[submodule "gcphone"]
	path = resources/[MasterkinG32]/[gcphone]
	url = https://github.com/masterking32/mastercity-roleplay
	branch = gcphone
	
[submodule "async"]
	path = resources/[MasterkinG32]/async
	url = https://github.com/masterking32/mastercity-roleplay
	branch = async
	
[submodule "es_admin2"]
	path = resources/[MasterkinG32]/es_admin2
	url = https://github.com/masterking32/mastercity-roleplay
	branch = es_admin2
	
[submodule "esplugin_mysql"]
	path = resources/[MasterkinG32]/esplugin_mysql
	url = https://github.com/masterking32/mastercity-roleplay
	branch = esplugin_mysql
	
[submodule "essentialmode"]
	path = resources/[MasterkinG32]/essentialmode
	url = https://github.com/masterking32/mastercity-roleplay
	branch = essentialmode
	
[submodule "extendedmode"]
	path = resources/[MasterkinG32]/extendedmode
	url = https://github.com/masterking32/mastercity-roleplay
	branch = extendedmode
	
[submodule "guidehud"]
	path = resources/[MasterkinG32]/guidehud
	url = https://github.com/masterking32/mastercity-roleplay
	branch = guidehud
	
[submodule "mpcreator"]
	path = resources/[MasterkinG32]/mpcreator
	url = https://github.com/masterking32/mastercity-roleplay
	branch = mpcreator
	
[submodule "cron"]
	path = resources/[MasterkinG32]/cron
	url = https://github.com/masterking32/mastercity-roleplay
	branch = cron
	
[submodule "mysql-async"]
	path = resources/[MasterkinG32]/mysql-async
	url = https://github.com/masterking32/mastercity-roleplay
	branch = mysql-async
	
[submodule "mythic_notify"]
	path = resources/[MasterkinG32]/mythic_notify
	url = https://github.com/masterking32/mastercity-roleplay
	branch = mythic_notify
	
[submodule "mythic_progbar"]
	path = resources/[MasterkinG32]/mythic_progbar
	url = https://github.com/masterking32/mastercity-roleplay
	branch = mythic_progbar
	
[submodule "orp-banking"]
	path = resources/[MasterkinG32]/orp-banking
	url = https://github.com/masterking32/mastercity-roleplay
	branch = orp-banking
	
[submodule "pNotify"]
	path = resources/[MasterkinG32]/pNotify
	url = https://github.com/masterking32/mastercity-roleplay
	branch = pNotify
	
[submodule "progressBars"]
	path = resources/[MasterkinG32]/progressBars
	url = https://github.com/masterking32/mastercity-roleplay
	branch = progressBars
	
[submodule "skinchanger"]
	path = resources/[MasterkinG32]/skinchanger
	url = https://github.com/masterking32/mastercity-roleplay
	branch = skinchanger
	
[submodule "skincreator"]
	path = resources/[MasterkinG32]/skincreator
	url = https://github.com/masterking32/mastercity-roleplay
	branch = skincreator
