html {
    overflow: hidden;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.progress-container {
    display: none;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    color: #fff;
    font-family: Arial;
    width: 20%;
    position: fixed;
    bottom: 5%;
    left: 40%;
}

.progress-labels {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

.progress-labels div {
    font-size: 20px;
    position: relative;
    color: #ffffff;
    z-index: 10;
    font-family: cursive;
}

.progress-bar-container {
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    background-color: #1e1e1e;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}

.progress-bar {
    background: #8b1014;
    width: 0%;
    height: 40px;
    transition: width 0.3s;
    transition-timing-function: ease-out;
}