body {
    background-color: transparent !important;
}

.template, .notification {
    display: none;
}

.notif-container {
    width: 20%;
    position: absolute;
    right: 15%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    margin: 5px;
    font: caption;
    font-size: 12px;
    font-weight: bold;
}

.success {
    background: #0bb400;
    color: #fff;
}

.inform {
    background-color: #0089ff;
    color: #ffffff;
}

.error {
    background: #ff0000;
    color: #fff;
}